# EmailJS Configuration — get keys from https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_93fzl5o
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_dezk3cx
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=Yjo7U571-Oo9W-eC1
